<p><q>it’s that he’s not gay. Busy? Yes.</q><br>
    --- Ah yes, the two sexualities: gay and busy!</p>
<p><q>half eaten chocolate chip cookie cooling on the bedside table,</q><br>
    --- I know this isn't the point but for some reason I never considered that they would get WARM fresh out of the
    oven cookies. I only ever imagined cold, store-bought ones. Now I am even more jealous of the cookie ritual.</p>
<p><q>Also, maybe he’s a little gay.</q><br>
    --- Dammit, turns out you can be busy AND gay :/</p>
<p><q>They don’t kiss, they don’t cuddle, and they definitely don’t do what he was just picturing. </q><br>
    --- Well then maybe they should...</p>
<p><q>He doesn’t like the idea that he can so easily be replaced with a hand.</q><br>
    --- Will, 20, definitely super calm about any feelings: time to be jealous of a hand!</p>
<p><q>Yeah," he agrees, voice cracking. “A reward.</q><br>
    --- Ideal setup for Mr. PraiseKink and Mr. AttentionWhore that we got here. Win-win situation.</p>
<p><q>For a moment he wants to climb up Mack’s body and kiss him over and over until the pout turns into a
        smile.</q><br>
    --- Do it, coward.</p>
<p><q>If either one of them is rocking a pumpkin, it’s Mack, but he doesn’t think it would be the most chill,
        definitely not gay thing to say in front of the rest of their team.</q><br>
    --- Fucking hell I love your writing</p>
<p><q>Yes, he wants what Mack’s offering, but he can’t stop thinking about how those lips would feel somewhere else.
        How they would feel against his own lips.</q><br>
    --- Lips are actually the tamer option compared to where I thought this was going</p>
<p><q>The kiss felt like it was saying something about who they were to each other. Will can’t have that. He can’t
        have someone else owning a part of him like that.</q><br>
    --- Just stab me next time that would hurt less</p>
<p><q>He wants to move into Mack’s bed, wake him up, and whisper that he didn’t mean it. He wants to kiss him again,
        and he knows that’s why he can’t.</q><br>
    --- I am going to metaphorically bleed all over the floor from your metaphorical stabbing and it's gonna be
    literally your fault</p>
<p><q>He’s starting to think that maybe he fucked things up for real.</q><br>
    --- There something hilarious about writing a 20 year old dude cause you can smack him in the face with obvious
    situations and then process them at the speed of an unwanted windows update and it's entirely realistic.</p>
<p><q>It’s not as easy as all that, though. </q><br>
    --- Mood of all moods</p>
<p><q>their dinner book</q><br>
    --- Their what now? the fuck did I miss? this feels like a casual lore drop but nothing about this is casual</p>
<p><q>Will’s starting to think that maybe Gabe isn’t the best person to have this conversation with.</q><br>
    --- At least he's fast on ice cause he definitely isn't with picking up... well anything that's related to any
    kind of emotion I guess?</p>
<p><q>He’s not sure what happened,</q><br>
    --- But hey at least he realized THAT something happened. Small wins.</p>
<p><q>Will’s grateful for it. Grateful to have a friend who understands him so well,</q><br>
    --- Bitch you're probably going to have two entirely different conversations in like a second and neither of you
    won't even know until it blows up n your face</p>
<p><q>More than with anyone.</q><br>
    --- I think that almost counts as emotionally aware! almost</p>
<p><q>this was my first foray into Hockey RPF but it probably won't be the last.</q><br>
    --- AND EVERYONE CHEERED (as they should) (also I love your writing if that wasn't glaringly obvious) (just
    thought I would spell it out so Will would know too)</p>